.new-contents
  %p.new-contents__title 問題編集フォーム
  .new-contents__box
    =form_with model: @quiz, local: true, class: 'new-contents__box__form' do |f|
      .new-contents__box__form__question="問題(正答率：#{@rate}%)"
      =f.text_area :text, placeholder: '６０字以内で記述してください', value: @quiz.text,class: 'new-contents__box__form__text'
      .new-contents__box__form__answer 答え(解答は全角のひらがな・数字・伸ばし棒(ー)での入力のみ対応しています)
      =f.text_field :answer, value: @quiz.answer,class: 'new-contents__box__form__answer-text'
      %br/
      =f.submit '投稿', class: 'new-contents__box__form__btn'