.cover
  .cover__illust
    =image_tag 'quiz_man_batsu.png', class: 'cover__illust__image'
    =image_tag 'quiz_woman_maru.png', class: 'cover__illust__image'
  .cover__start
    =link_to 'スタート', quizzes_path, class: 'cover__start__text'