.main
  .main__question
    %p="問題(正答率：#{@rate}%)"
    .main__question__text
      =@quiz.text
  .main__btn
    =image_tag 'buzzer.png'
    %span.main__btn__message 
      ←分かったら
      %br
      &nbsp;&nbsp;&nbsp;押してね
  =form_with model: @correctness, url: quiz_correctnesses_path(@quiz),local: true, class: 'main__form' do |f|
    =f.text_field :text, placeholder: '全角のひらがな、数字、記号入力してください', class: 'main__form__text'
    =f.submit '解答する', class: 'main__form__btn'